/* Styles généraux */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #072A40;
  color: #ecf0f1;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1000; /* Toujours au-dessus du contenu principal */
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar .logo {
  text-align: center;
  padding: 20px 0;
}

.sidebar .logo img {
  width: 80%;
  max-width: 100px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.menu li {
  border-bottom: 1px solid #073a50;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #18B7BE;
}

.menu a i {
  margin-right: 15px;
  font-size: 1.2rem;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
}

p {
  color: #555;
}
